

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*color stack*/
:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --very-light-gray: #f5f6f8;
}

body {
    line-height: 1.8;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

p {
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

h1, h2, h3, h4 {
    color: var(--Dark-Grayish-Blue);
}

.container { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 480px;
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.Logo {
    padding: 20px;

}

.textinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.textinfo h3 {
    width: 70%;
    padding: 20px;
    font-size: 1.9rem;
}

.textinfo p {
    width: 60%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1rem;

}

.buttons {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    justify-content: center;

}

.btn-1 {
    margin: 20px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    width: 200px;
    background-color: var(--Strong-Cyan);
    color: #fff;
    cursor: pointer;


}

.btn-2 {
    margin: 20px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    width: 200px;
    background-color: var(--Light-Blue);
    color: #fff;
    cursor: pointer;
}

.wrapper-main {
    max-width: 100%;
}

.insight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    

    
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro h2 {
    width: 70%;

}

.intro p {
    width: 80%;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px 0px;

}


.img-wrapper img {
    width: 100%;
    translate: -3rem;
    
}

.text-wrapper {
    translate: 3rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}




.text {
    translate: -3.5rem;
    width: 90%;
    font-size: 1rem;
    margin: 0px 30px;
    padding: 15px;
    
}
.clipinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 30px auto;
}

.heading {
    margin: 20px 0px;
}

.heading p {
    margin: 0px auto;
    width: 75%;
}

.img-clip img {
    width: 50%;
    margin: 20px auto;

}

.workflow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.workflow-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.workflow-info p {
    margin: 5px 0px;
    padding: 5px;
}

.img-text-main {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0px auto;
    
}

.blacklist {
    text-align: center;
    width: 33.3%;
}

.blacklist p {
    padding: 15px;
}

.plain-snppt {
    text-align: center;
    width: 33.3%;

}

.plain-snppt p {
    padding: 15px;

}

.sneak-pre {
    text-align: center;
    width: 33.3%;
}

.sneak-pre p {
    padding: 15px;

}

.icons img {
    padding: 15px;
}

.brandsgroups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

.brandsgroups img {
    padding: 20px;
}

.clipboardOS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   margin: 0px auto;
}


.OS-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OS-info  p {
    width: 70%;
    text-align: center;
    padding: 15px 0px 5px;
}

.footer-wrapper {
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;

}

.F-logo img {
    margin-left: 60%;
    width: 50%;
}

.linkswrapper {
    width: 50%;
    display: flex;
   
}

.linkswrapper-1 {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.linkswrapper-2 {
    width: 50%;
    display: flex;
    flex-direction: column;


}

.linkswrapper-3 {
    width: 50%;
    display: flex;
    flex-direction: column;


}

.linkswrapper a {
    font-size: .9rem;
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
   
}

.linkswrapper a:hover {
    color: var(--Strong-Cyan);
}


.Socialsgroup {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.socials {
    padding: 10px;
}

.socials img:hover{
   color: var(--Strong-Cyan) ;
}

.attribution {
    background-color: var(--very-light-gray);
}


@media (max-width:800px){
    main {
        overflow: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url(/images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .textinfo h3 {
        width: 80%;
    }

    .textinfo p {
        width: 85%;
    }

    .intro h2 {
        width: 85%;
    }

    .OS-info p {
        width: 85%;
    }

    .intro p {
        width: 100%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .btn-1 {
        width: 100%;
    }

    .btn-2 {
        width: 100%;
    }

    .textinfo {
        width: 100%;
    }
    
    .wrapper-main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-wrapper img {
        margin-left: 2%;
         translate: 0rem;
         width: 95%;
         margin-bottom: 30px;

    }

    .text {
        width: 100%;
        margin: 20px 0px;
        padding: 0px;
        text-align: center;
    }

    .clipinfo {
        text-align: center;

    }

    .clipinfo img {
        width: 100%;
    }
    
    .img-text-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .blacklist, .plain-snppt, .sneak-pre {
        width: 100%;
    }
    
    .brandsgroups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-wrapper {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 450px;
        
    }

    .F-logo img {
        width: 80px;
        margin-left: 0%;
    }

    .linkswrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:50px auto;
        width: 100%;

    }

    .linkswrapper a {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 5px;
    }

    .Socialsgroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .socials {
        margin-left: 50%;
    }

    
    
}